.elementor-234 .elementor-element.elementor-element-7f76f1f{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--background-transition:0.3s;--z-index:99999;}.elementor-234 .elementor-element.elementor-element-7f76f1f:not(.elementor-motion-effects-element-type-background), .elementor-234 .elementor-element.elementor-element-7f76f1f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #FFE700 0%, #C6B406 100%);}.elementor-234 .elementor-element.elementor-element-7f76f1f, .elementor-234 .elementor-element.elementor-element-7f76f1f::before{--border-transition:0.3s;}.elementor-234 .elementor-element.elementor-element-44f5fea img{width:306px;}.elementor-234 .elementor-element.elementor-element-055979c{--display:flex;--min-height:86px;--justify-content:center;--background-transition:0.3s;--border-radius:0px 0px 020px 20px;--z-index:10;}.elementor-234 .elementor-element.elementor-element-055979c, .elementor-234 .elementor-element.elementor-element-055979c::before{--border-transition:0.3s;}.elementor-234 .elementor-element.elementor-element-e68c72e img{width:14%;}.elementor-234 .elementor-element.elementor-element-228b493{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-234 .elementor-element.elementor-element-9eae66e{text-align:center;}.elementor-234 .elementor-element.elementor-element-9eae66e .elementor-heading-title{color:#4F46E5;font-family:"Poppins", Sans-serif;font-size:53px;font-weight:700;}.elementor-234 .elementor-element.elementor-element-63cdf74{text-align:center;}.elementor-234 .elementor-element.elementor-element-63cdf74 .elementor-heading-title{color:#4F46E5;font-family:"Poppins", Sans-serif;font-size:23px;font-weight:700;}.elementor-234 .elementor-element.elementor-element-dc60aa7{--display:flex;--gap:0px 0px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-234 .elementor-element.elementor-element-22877da > .elementor-widget-container{margin:0px 0px -440px 0px;padding:0px 0px 0px 0px;}.elementor-234 .elementor-element.elementor-element-22877da img{width:440px;border-radius:20px 20px 20px 20px;}.elementor-234 .elementor-element.elementor-element-bb5bb6a{width:var( --container-widget-width, 372px );max-width:372px;--container-widget-width:372px;--container-widget-flex-grow:0;}.elementor-234 .elementor-element.elementor-element-bb5bb6a.elementor-element{--align-self:center;}.elementor-234 .elementor-element.elementor-element-bb5bb6a .elementor-button .elementor-button-content-wrapper{justify-content:center;}.elementor-234 .elementor-element.elementor-element-bb5bb6a .elementor-button{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:500;background-color:#4F46E5;border-radius:15px 15px 15px 15px;padding:17px 17px 17px 17px;}.elementor-234 .elementor-element.elementor-element-aa99a07{text-align:center;}.elementor-234 .elementor-element.elementor-element-aa99a07 .elementor-heading-title{color:#4F46E5;font-family:"Poppins", Sans-serif;font-size:23px;font-weight:400;}body.elementor-page-234:not(.elementor-motion-effects-element-type-background), body.elementor-page-234 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FDE047;}@media(min-width:768px){.elementor-234 .elementor-element.elementor-element-dc60aa7{--width:100%;}}@media(max-width:767px){.elementor-234 .elementor-element.elementor-element-44f5fea img{width:187px;}.elementor-234 .elementor-element.elementor-element-055979c{--min-height:72px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-234 .elementor-element.elementor-element-e68c72e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-234 .elementor-element.elementor-element-e68c72e img{width:42%;}.elementor-234 .elementor-element.elementor-element-228b493{--width:370px;--min-height:100vh;--padding-top:13px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-234 .elementor-element.elementor-element-b0b4051 > .elementor-widget-container{margin:0px 0px -43px 0px;}.elementor-234 .elementor-element.elementor-element-9eae66e .elementor-heading-title{font-size:30px;}.elementor-234 .elementor-element.elementor-element-63cdf74 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-234 .elementor-element.elementor-element-22877da > .elementor-widget-container{margin:0px 0px -308px 0px;}.elementor-234 .elementor-element.elementor-element-22877da img{width:321px;}.elementor-234 .elementor-element.elementor-element-4b6a636 > .elementor-widget-container{margin:-22px 0px 0px -6px;}.elementor-234 .elementor-element.elementor-element-aa99a07 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-234 .elementor-element.elementor-element-aa99a07 .elementor-heading-title{font-size:18px;}}/* Start custom CSS for html, class: .elementor-element-7105349 */.iniciarb{
    opacity: 0;
    transition: 1s;
    filter: blur(10px);
    transform: scale(1);
}
.iniciarativob{
    opacity: 1;
    transition: 1s;
    filter: blur(0px);
    transform: scale(1.2);
}
.iniciar2b{
    transition: all 1s !important;
    clip-path: circle(70.7% at 50% 50%);
}
.iniciarativo2b{
    position: relative;
    transition: all 1s !important;
    clip-path: circle(0% at 50% 50%);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7f76f1f */.elementor-234 .elementor-element.elementor-element-7f76f1f{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-b0b4051 */.elementor-234 .elementor-element.elementor-element-b0b4051 {
    opacity: 30%;
}

.white {
  position: absolute;
  top: 0;
  left: -30%;
  width: 100vw;
  height: 90vh;
  z-index: -1; /* Certifica-se de que está atrás de todo o conteúdo */
  overflow: hidden;
}

.squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.square {
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  transform: translateY(100%);
  background: #fff;
}

.square:nth-child(2) {
  height: 1.5em;
  width: 3em;
  animation-delay: 1s;
  animation-duration: 17s;
  filter: blur(5px);
}

.square:nth-child(3) {
  height: 2em;
  width: 1em;
  animation-delay: 1.5s;
  animation-duration: 8s;
}

.square:nth-child(4) {
  height: 1em;
  width: 1.5em;
  animation-delay: 0.5s;
  filter: blur(3px);
  animation-duration: 13s;
}

.square:nth-child(5) {
  height: 1.25em;
  width: 2em;
  animation-delay: 4s;
  filter: blur(2px);
  animation-duration: 11s;
}

.square:nth-child(6) {
  height: 2.5em;
  width: 2em;
  animation-delay: 2s;
  filter: blur(1px);
  animation-duration: 9s;
}

.square:nth-child(7) {
  height: 5em;
  width: 2em;
  filter: blur(2.5px);
  animation-duration: 12s;
}

.square:nth-child(8) {
  height: 1em;
  width: 3em;
  animation-delay: 5s;
  filter: blur(6px);
  animation-duration: 18s;
}

.square:nth-child(9) {
  height: 1.5em;
  width: 2em;
  filter: blur(0.5px);
  animation-duration: 9s;
}

.square:nth-child(10) {
  height: 3em;
  width: 2.4em;
  animation-delay: 6s;
  filter: blur(0.5px);
  animation-duration: 12s;
}

@keyframes squares {
  from {
    transform: translateY(100%) rotate(-50deg);
  }
  to {
    transform: translateY(calc(-100vh - 100%)) rotate(20deg);
  }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-bb5bb6a */.botao{
    animation: pisca 1.5s infinite;
    box-shadow: 0px 0px 21px -6px #61B144;
    background-color: #4f46e5;
    border-radius: 15px;
}

@keyframes pisca {
  50% {
    box-shadow: 0 0 0 25px rgb(0,0,0,0);
  }
    70% {
    box-shadow: 0 0 0 0 rgb(0,0,0,0);
  }
}/* End custom CSS */
/* Start custom CSS */body, html {
overflow-x: hidden !important;
}
[data-elementor-type="wp-page"]{
    overflow: hidden;
}

[data-elementor-type="wp-post"]{
    overflow: hidden;
}
@media (max-width: 786px){
body, html {
overflow-x: hidden !important;
}
}
body::-webkit-scrollbar {
    width: 9px; /* Tamanho da barra de rolagem */
    background-color: #D8D8D8; /* Cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    border-radius: 0; /* Removendo arredondado */
    background: linear-gradient(to bottom, #fef08f 10%, #fec600 50%, #fecb1e 90%); /* degrade na parte que rola */
}/* End custom CSS */